{% extends 'layouts/app_layout.html' %}


{% block content %}
<!-- CSRF Token for AJAX requests -->
{% csrf_token %}


<div class="card">
    <div class="card-body">
        <!-- Unified Product Collection Container -->
        <div id="inventoryCollection"></div>
        
        <!-- Pagination -->
        {% include 'components/navigation/pagination.html' with page_obj=page_obj aria_label="Product pagination" query_params=request.GET %}
    </div>
</div>

<!-- Product Data and Collection Initialization -->
{% include 'components/js/product_data_init.html' with data_variable='inventoryProductsData' products_json=products_json comment='Initialize inventory collection with data' %}
{% include 'components/js/product_collection_init.html' with collection_id='inventoryCollection' data_variable='inventoryProductsData' click_action='select' %}
{% endblock %}